@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    width: 40%;
    padding: 2rem;
    background-color: #008000;
    font-size: 20px;
    color: #ffffff;
    border-top-right-radius: 20px;
    box-shadow: 10px 10px 5px #2a6d28;
    margin-bottom: 2rem;
}

.read-button {
    padding: 12px 18px;
    border: none;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
    font-size: 17px;
    background-size: 0%;
    background-image: linear-gradient(to right, #008000, #eaff00);
    transition: all 0.5s;
}

.read-button:hover {
    background-size: 100%;
    color: #ffffff;
}

a {
    color: #000000;
    text-decoration: none;
}

.my-image {
    width: 100%;
    padding-bottom: 1.5rem;
}

.img-width {
    width: 100%;
}

.view-btn {
    text-align: center;
}

.newLearnBtn {
    font-family: poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0,0,0,0.7);
    padding: 15px 45px;
    background-color: transparent;
    background-size: 0%;
    background-image: linear-gradient(to right,  #008000, #eaff00);
    bottom: 5px solid #ed4264;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.newLearnBtn:hover {
    background-size: 100%;
    color: #ffffff;
}